@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

/* global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish;
}

header,
main {
    max-width: 1440px;
    width: 81%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --button-color: #FF5400;
}

section {
    margin-bottom: 100px;
}

/* global style */

/* header style */
.header_area {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 40px 0 50px 0;
}

.header_logo {
    width: 50%;
    display: flex;
    align-items: center;
}

.logo_text {
    padding-left: 20px;
}

.logo_text>a>h1 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.logo_text>a>h1>span {
    color: var(--button-color);
}

.header_nav {
    width: 45%;
}

.header_nav>ul {
    display: flex;
    justify-content: space-between;
}

.header_nav>ul>li {
    padding: 0 10px;
}

.header_nav>ul>li:nth-of-type(1)>a {
    color: var(--button-color);
}

.header_nav>ul>li>a {
    color: #424247;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.1s ease-in-out;
}

.header_nav>ul>li>a:hover {
    color: rgb(111, 127, 233);
}

/* hamburger */
.header_hamburger {
    display: none;
}

.line {
    width: 24px;
    height: 3px;
    border-radius: 10px;
    background-color: black;
}

.line:nth-of-type(2) {
    margin: 4.5px 0;
}

/* header style */
/* hero style */
.hero_area {
    background-image: url("./images/hero-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 10px;
}

.hero_overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);

}

.hero_text {
    width: 60%;
    margin: 0 auto;
}

.hero_text>h1 {
    text-align: center;
    margin: 124px 0 24px 0;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.hero_text>p {
    text-align: center;
    margin-bottom: 64px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 162.5%;
}

.hero_search {
    margin-bottom: 124px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.find_form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);


}

.find_form>input,
.find_form>select,
.submit_btn {

    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 0 10px;
}

.find_form>input,
.find_form>select {
    padding-left: 10px;
}

.submit_btn {
    background: var(--button-color);
    padding-left: 20%;
    cursor: pointer;
}

.submit_btn>input {
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    padding: 16px 5px;
}

.search_icon {
    color: #FFF;
    font-size: 24px;
}

.submit_btn>input {
    border: none;
    background: transparent;
}

/* hero style */
/* popular style */
.popular_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular_text {
    width: 45%;
}

.popular_text>h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.popular_point {
    margin-left: 30px;
    margin-bottom: 24px;
}

.popular_text>p,
.popular_point>ul>li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 162.5%;
}

.popular_text>p {
    margin-bottom: 24px;
}

.popular_text>button {
    border-radius: 8px;
    background: var(--button-color);
    border: none;
    padding: 14px 0;
}

.popular_text>button>a {
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    padding: 14px 30px;
}

.popular_point>ul {
    list-style: disc;

}

.popular_img {
    width: 45%;
    height: 100%;

}

.popular_img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* popular style */
/* country style */
.country_text {
    width: 50%;
    margin: 0 auto;
}

.country_text>h1 {
    margin-bottom: 24px;
    text-align: center;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.country_text>p {
    margin-bottom: 50px;
    text-align: center;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 162.5%;
}

.country_img {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 300px);
    gap: 20px;
}

.normal_horizontal {
    grid-column: auto / span 6;
}

.big_square {
    grid-column: auto / span 4;
}

.small_horizontal {
    grid-column: auto / span 5;
}

.small_square {
    grid-column: auto / span 3;
}

.big_horizontal {
    grid-column: auto / span 7;
}

.country_img>div {
    position: relative;
}

.overlay_text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
}

.overlay_text>h1 {
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.cmn>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

/* country style */
/* Responsive style for tablet */
@media screen and (min-width:601px) and (max-width:1024px) {
    section {
        margin-bottom: 30px;
    }

    /* header responsive */
    .header_area {
        flex-direction: column;
    }

    .header_logo {
        width: 100%;
        justify-content: center;
        margin-bottom: 20px;
    }

    .logo_text>a>h1 {
        font-size: 22px;
    }

    .header_nav {
        width: 100%;
    }

    /* header responsive */
    /* hero responsive */
    .hero_text>h1 {
        font-size: 28px;
    }

    .hero_text>p {
        font-size: 16px;
    }

    .find_form {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .hero_search {
        width: 90%;
    }

    .find_form>input,
    .find_form>select {
        padding: 16px;
    }

    .submit_btn {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* hero responsive */
    /* popular responsive */
    .popular_area {
        flex-direction: column;
    }

    .popular_text {
        width: 100%;
    }

    .popular_text>h1 {
        font-size: 28px;
    }

    .popular_img {
        width: 100%;
        margin-top: 30px;
    }

    /* popular responsive */
    /* country responsive */
    .country_text{
        width: 90%;
    }
/* country responsive */

}

/* Responsive style for mobile */
@media screen and (max-width:600px) {

    /* global style */
    header,
    main {
        width: 96%;

    }

    section,
    .header_area {
        margin-bottom: 30px;
    }

    /* header responsive */
    .logo_img {
        width: 28px;
        height: 33px;
    }

    .logo_img>img {
        width: 100%;
        height: 100%;
    }

    .logo_text {
        padding-left: 10px;
    }

    .logo_text>a>h1 {
        font-size: 18px;
    }

    .logo_text>a>h1>span {
        color: var(--button-color);
    }

    .header_nav {
        display: none;
    }

    .header_hamburger {
        display: block;
    }

    /* header responsive */
    /* hero responsive */
    .hero_text>h1 {
        font-size: 22px;
    }

    .hero_text>p {
        font-size: 14px;
    }

    .find_form {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .hero_search {
        width: 90%;
    }

    .find_form>input,
    .find_form>select {
        padding: 16px;
    }

    .submit_btn {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* hero responsive */
    /* popular responsive */
    .popular_area {
        flex-direction: column;
    }

    .popular_text {
        width: 100%;
    }

    .popular_img {
        width: 100%;
        margin-top: 30px;
    }

    .popular_text>h1 {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .popular_point {
        margin-bottom: 16px;
    }

    .popular_text>p {
        margin-bottom: 16px;
    }

    .popular_text>p,
    .popular_point>ul>li {
        font-size: 14px;
    }

    /* popular responsive */
    /* country responsive */
    .country_text{
        width: 90%;
    }
    .country_text>h1{
        font-size: 20px;
    }
    .country_text>p{
        font-size: 14px;
    }
    .country_img {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 250px);
        gap: 7px;
    }

    .cmn>img,
    .overlay_text {
        width: calc(100vw - 4%);
    }

    .overlay_text>h1 {
        font-weight: 700;
    }

    /* country responsive */

}